NYLAS_CLIENT_ID=
NYLAS_API_KEY=
NYLAS_API_URI=https://api.us.nylas.com
NYLAS_CALLBACK_URI=https://xxxx.ngrok-free.app/auth/google/callback
POSTGRES_URL=postgres://user:pass@host:5432/dbname
PORT=3000
